@import url(reset.css);
@import url(vars.css);

body {
    background-color: var(--background-color);
}

details > summary > h3 {
    display: inline;
}

details > picture > img{
    display: inline-block;
    width: 90%;
}

main > picture > img{
    display: inline-block;
    width: 30%;
}

section > h3 {
    font-size : var(--subheading-size);
}

section#references{
    /* text-align: center; */

    ul {
        list-style-type: none;

        li {
            margin: 2dvh;
        }
    }
}

main > * {
    width : 80vw;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

p {
    font-size : var(--text-size);
}

picture > caption{
    display : block;
}