:root {
    --background-color : #dbd8d8;
	--text-color :       black;
    --subheading-size : 2em;
    --text-size : 1.3em;
    --triton-blue : #00629B;
    --triton-green : #6E963B;
    --triton-magenta: #D462AD;
    --triton-navy : #182B49;
    --triton-yellow : #FFCD00;
}